{:news-path  "/Users/eduardo/noticias"
 :source-db {:subprotocol "mysql"
             :subname "//127.0.0.1:3306/dbname"
             :user "root"
             :password ""}
 :target-db {:subprotocol "mysql"
             :subname "//127.0.0.1:3306/dbname"
             :user "root"
             :password ""}}
